@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body {
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
  width: 100%;
  margin-top: -30px;
  }

  .app-title {
    text-align: center;
    }


    .adicionar-btn {
      margin-top: 5px;
      align-items: center;
      font-size: 15px;
    }

    .adicionar-btn-ul {
      margin-top: 5px;
      margin-right: 5px; 
      align-items: center;
      font-size: 15px;
    }

.adicionar-input {
  width: 85%;
  height: 2rem;
  text-align: center;
  font-size: 10px;
  background-color: white;
  color: black;
  border: none;
  font-family: 'Luckiest Guy', cursive;  
  margin-bottom: 10px !important;
}

ul {
  padding-left: 0 !important;
  }

